.mainContainer{
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px 120px;

  flex: 1;
  overflow-y: auto;

  scrollbar-width: none;
  -ms-overflow-style: none;

}

.mainContainer::-webkit-scrollbar {
  display: none;
}

.catalogContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 24px;
  border-radius: 8px;
  background-color: var(--sec-color);

  border: 2px solid var(--outline-color);
}


.modGrid {
  display: grid;
  width: 100%;
  height: 100%;
  gap: 12px;
  grid-template-columns: repeat(4, 1fr);
  min-width: 0
}

@media (width <= 1200px) {
  .modGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (width <= 768px) {
  .modGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}
