.headerContainer {
  display: flex;
  background-color: var(--sec-color);
  padding: 12px;
  justify-content: space-between;
  border-bottom: 2px solid var(--outline-color);
}

.logo {
  height: 42px;
}

.avatar{
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.avatarStroke {
  width: 32px;
  height: 32px;
  padding: 5px;
  background: var(--primary-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  color: var(--primary-color);
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.userContainer {
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--text-sec-color);
  cursor: pointer;
}

.addButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  color: var(--quiet-grey-color);
}

.logOut {
  display: flex;
  align-items: center;
  justify-content: center;
}

.plusIcon {
  stroke: var(--quiet-grey-color);
}

.logOutIcon{
  stroke: var(--quiet-grey-color);
}


