.container {
  display: flex;
  width: 100%;
  border: 3px solid var(--dark-primary-color);
  border-radius: 8px;
  padding: 8px;
  align-content: center;
  transition: border 0.2s ease-in-out;
}

.container:has(.input:focus) {
  border-color: var(--primary-color);
}

.search {
  display: flex;
  align-items: center;
  gap: 8px;

  width: 100%;
}

.icon {

}

.input {
  background: transparent;
  border: none;
  color: var(--text-color);
  width: 100%;
  font-size: 14px;

  &:focus {
    outline: none;
  }
}